/* From uiverse.io by @JoseIsra */
.card2 {
    width: 18rem;
    cursor: pointer;
    /* height: 18rem; */
  }
  
  .content2 {
    text-align: center;
    position: relative;
    transition: all 2.25s;
    background-color: #56729d;
    padding: 5em;
    transform-style: preserve-3d;
    height: 17rem;
    border-radius: 6px;
  }
  
  .card2:hover .content2 {
    transform: rotateY(0.5turn);
  }
  
  .front,.back {
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }

  
  .title {
    position: relative;
    transform: translateZ(5rem);
    font-size: 2rem;
  }
  
  .subtitle {
    transform: translateZ(2rem);
  }
  
  .back {
    transform: rotateY(0.5turn);
    background-color: #56729d;
    border-radius: 5px;
  }
  
  .description {
    transform: translateZ(3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .description a{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (max-width: 700px) {

    .front,.back {
      padding: 0em;
      padding-top: 20px;
    }
  }